# Configuration Django
SECRET_KEY=votre_cle_secrete_django
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Configuration de la base de données
# Utiliser ces variables si vous souhaitez utiliser une base de données autre que SQLite
# DATABASE_URL=postgres://user:password@localhost:5432/familymeal

# Configuration CORS
CORS_ALLOW_ALL_ORIGINS=True
# CORS_ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080

# Configuration de l'API
API_VERSION=v1
